html, body, h1, h2, h3 {
  font-size: 16px;
  font-family: Verdana, 'Microsoft JhengHei', 'Heiti TC', 'PMingLiU', sans-serif;
  font-weight: normal;
  color: #16160e;
}
html, body, div, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
}
body {
  background-color: #f8f6ed;
  overflow-y: scroll;
}
a {
  color: #007bbb;
  cursor: pointer;
}
a:hover {
  color: #d9333f;
}
a:active {
  text-decoration: none;
}
.page-content {
  width: 800px;
  margin: 10px auto 50px;
}
.page-title {
  text-shadow: 1px 0 2px #4666b6;
  font-size: 2.5em;
  font-family: tahoma;
  font-weight: bold;
  color: #19448e;
}
.section-title {
  margin: 10px 0 6px 1.2em;
  padding-left: 4px;
  border-left: 4px solid #e95295;
  font-size: 1.3em;
  color: #eb0068;
}
.main-list, .sub-list {
  list-style: none inside;
}
.main-list > li, .sub-list > li {
  margin: 8px 0;
}
.main-list {
  width: 740px;
  margin: 0 0 20px 2.2em;
  padding: 5px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px #d0d0d0;
}
.main-list > li:before {
  content: '::';
  float: left;
  padding-right: 6px;
  color: #aaaaaa;
}
.sub-list {
  margin-left: 1.4em;
  margin-bottom: 1em;
  font-size: 0.94em;
  color: #666666;
}
.sub-list > li {
  position: relative;
  padding-left: 1em;
}
.sub-list > li:before {
  content: '›';
  position: absolute;
  left: 2px;
  margin-top: -5px;
  font-size: 1.5em;
  font-family: arial;
  color: #ee827c;
}
.sub-title {
  position: relative;
  display: block;
  overflow: hidden;
}

.example-wrap {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  /*background-color: rgba(0,0,0,.5);*/
}
.example-view {
  width: 960px;
  margin: 68px auto 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 25px 5px #999999;
}
.hide-example {
  z-index: 0;
}
.hide-example .empty-example {
  display: none;
}
.example-view.ng-enter {
  transition: all .5s ease;
  transform: scale(0);
  opacity: 0;
}
.example-view.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}
.example-view.ng-leave {
  transition: all .35s ease;
  transform: scale(1);
  opacity: 1;
}
.example-view.ng-leave-active {
  transform: scale(0);
  opacity: 0;
}
.btn-block > button {
  margin: 3px 5px;
}
.svg-sunny-day {
  background-color: #79a8fa;
}
.jarvis-logo-wrapper {
  display: inline-block;
  width: 185px;
  height: 28px;
  width: 740px;
  height: 112px;
  transition: all .5s;
}
.catfi-logo-wrapper {
  display: inline-block;
  width: 320px;
  background-color: #ff5c41;
}

/*
  for line chart
*/
.svn-wrap .axis path,
.svn-wrap .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.svn-wrap  .x.axis path {
  display: none;
}

.svn-wrap .line {
  fill: none;
  stroke: rgb(30, 106, 169);
  stroke-width: 1.5px;
}

.pie-chart-wrap .arc path {
  stroke: #fff;
}
