<div>
  <div class="btn-block">
    <button ng-repeat="attr in attrList track by $index" ng-click="change($index)">{{attr.label}} ({{attr.preserveAspectRatio}})</button>
  </div>

  <ul class="sub-list">
    <li>width: {{svg.width}}</li>
    <li>height: {{svg.height}}</li>
    <li>viewBox: {{svg.viewBox}}</li>
    <li>preserveAspectRatio: {{svg.preserveAspectRatio}}</li>
    <li>button: {{svg.label}} ({{svg.preserveAspectRatio}})</li>
  </ul>

  <svg class="svg-sunny-day"
    ng-attr-width="{{svg.width}}"
    ng-attr-height="{{svg.height}}"
    ng-attr-view_box="{{svg.viewBox}}"
    ng-attr-preserve_aspect_ratio="{{svg.preserveAspectRatio}}">

    <defs>
      <linearGradient id="lg_yellow_type_1" x1="0" y1="0" x2="1" y2="1">
        <stop offset=".3" stop-color="#f9e295" />
        <stop offset=".3" stop-color="#deb138" />
        <stop offset=".7" stop-color="#deb138" />
        <stop offset=".7" stop-color="#7c612b" />
      </linearGradient>
      <linearGradient id="lg_yellow_type_2">
        <stop offset=".3" stop-color="#e7b439" />
        <stop offset=".7" stop-color="#a58132" />
      </linearGradient>

      <circle id="circle_white" fill="#ffffff" r="20"/>
      <circle id="circle_white_xl" fill="#ffffff" r="30" />
      <clipPath id="cut_off">
        <rect x="0" y="0" width="100" height="72" />
      </clipPath>
      <g id="clould" clip-path="url(#cut_off)">
        <use xlink:href="#circle_white" x="40" y="30" />
        <use xlink:href="#circle_white" x="65" y="40" />
        <use xlink:href="#circle_white" x="78" y="63" />
        <use xlink:href="#circle_white_xl" x="30" y="65" />
      </g>
    </defs>

    <g transform="translate(280, 200)">
      <rect width="100" height="100" fill="url(#lg_yellow_type_1)" />
      <rect width="100" height="100" fill="url(#lg_yellow_type_2)" transform="rotate(45, 50, 50)" />
      <circle cx="50" cy="50" r="56" fill="#fadf54" />
      <use xlink:href="#clould" x="50" y="30" transform="scale(.8)" />
    </g>
    <use xlink:href="#clould" x="350" y="200" transform="scale(.6)" />
    <use xlink:href="#clould" x="900" y="200" transform="scale(.4)" style="opacity: .7" />
  </svg>
</div>
