<div>
  <img src="res/jarvis_logo.png">
</div>
<div class="jarvis-logo-wrapper">
  <svg width="100%" height="100%" viewBox="0 0 185 28" preserveAspectRatio="none">
    <path fill="#02daaf" d="M13 0 v18 a 5 5 0 0 1 -5 5 h-8 v5 h11 a 8 8 0 0 0 8 -8 v-20 z" />
    <path fill="#02daaf" d="M31 0 l-12 28 h6.5 l2.5 -6.5 h12.5 v-5.5 h-10.5 l4.5 -10 l8.5 22 h6.5 l-12 -28 z" />
    <path fill="#02daaf" d="M51 0 h19 a8.5 8.5 0 0 1 0 16 l7 12 h-7 l-6 -11 h-7 v-5 h10 a3.8 3.8 0 0 0 0 -7 h-10 v23 h-6 z" />
    <path fill="#02daaf" d="M76 0 l12 28 h6.5 l12 -28 h-6.5 l-8.5 20.5 l-8.5 -20.5" />
    <rect fill="#02daaf" x="107.5" y="0" width="6.5" height="28" />
    <path fill="#02daaf" d="M142.5 0 h-18.5 a8.7 8.7 0 0 0 0 17 h11.5 a3.1 3.1 0 0 1 0 6 h-17.5 v5 h19.5 a8.5 8.5 0 0 0 0 -16.5 h-12 a3.5 3.5 0 0 1 0 -6.5 h17 z" />
    <rect fill="#02daaf" x="146.7" y="23" width="5" height="5" />
    <path fill="#02daaf" d="M155.5 7 h12 a8 8 0 0 1 8 8 v13 h-17 a6.8 6.8 0 0 1 0 -12.8 h11 v4.6 h-8 a2 2 0 0 0 0 3.8 h8 v-9 a3 3 0 0 0 -2.8 -2.8 h-11.2 z" />
    <g>
      <rect fill="#02daaf" x="179" y="0" width="6" height="5" />
      <rect fill="#02daaf" x="179" y="7" width="6" height="21" />
    </g>
  </svg>
</div>
