<div class="catfi-logo-wrapper">
  <img src="res/catfi_logo.jpg" width="100%">
</div>
<div class="catfi-logo-wrapper">
  <svg width="100%" height="100%" viewBox="0 0 1612 2864" >
    <g>
      <path fill="#fff" d="M321.5 828.5 m323 0 l-45.5 165 h29 l36 -135 l59 65 l20 -16 l-74.5 -79 z" />
      <path fill="#fff" d="M321.5 828.5 m633.5 0 l-72 76 c-62 -18 -149 -22 -171 37 q96 -43 178 -7 l67 -73 l38.5 131.5 h30.5 l-49.5 -164.5" />
    </g>
    <g>
      <path fill="#fff" d="M321.5 828.5 m943 372.5 v236 h26.5 v-236 z" />
    </g>
  </svg>
</div>
