<!DOCTYPE html>
<html lang="zh-TW" ng-app="d3App">
<head>
  <meta charset="UTF-8">
  <title>D3.js Practice</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="page-content">
    <header>
      <h1 class="page-title">D3.js Practice</h1>
    </header>
    <section>
      <div class="example-wrap" ui-sref="main" ng-class="$root.isMainPage ? 'hide-example' : ''">
        <div class="example-view" ui-view ng-class="$root.isMainPage ? 'empty-example' : ''" ng-click="$event.stopPropagation();"></div>
      </div>
    </section>
    <section>
      <h2 class="section-title">SVG viewBox and preserveAspectRatio</h2>
      <ul class="main-list">
        <li>
          <h3 class="sub-title">viewport v.s. viewbox</h3>
          <ul class="sub-list">
            <li>viewport: 「視圖」或「視區」，即 svg 的 width 和 height 指定的大小</li>
            <li>viewbox: 指定一個區域，將內容延展至容器(viewport)大小，在指定區域外的部分則被裁切掉</li>
          </ul>
        </li>
        <li>
          <h3 class="sub-title">viewBox attribute</h3>
          <ul class="sub-list">
            <li>viewBox="min-x min-y width height"</li>
          </ul>
        </li>
        <li>
          <h3 class="sub-title">preserveAspectRatio attribute</h3>
          <ul class="sub-list">
            <li>preserveAspectRatio="align[ meetOrSlice]"</li>
            <li>屬性值太多了，看 <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio" target="_blank">Mozilla MDN</a> 吧</li>
          </ul>
        </li>
        <li>
          <h3 class="sub-title">viewBox Example</h3>
          <ul class="sub-list">
            <li><a ui-sref="ex({name: 'svg-viewbox', ctlr: 1})">Sunny Day</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="section-title">SVG Logo</h2>
      <ul class="main-list">
        <li>
          <h3 class="sub-title">學習 path 時做的練習</h3>
          <ul class="sub-list">
            <li><a ui-sref="ex({name: 'svg-jarvis'})">Jarvis.ai Logo</a></li>
            <li><a ui-sref="ex({name: 'svg-catfi'})">CatFi Logo</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="section-title">D3.js</h2>
      <ul class="main-list">
        <li>
          <h3 class="sub-title">Thinking with Joins (<a href="http://bost.ocks.org/mike/join/" target="_blank">link</a>)</h3>
          <ul class="sub-list">
            <li>.data(value[, key])</li>
            <li>.data().enter()</li>
            <li>.data().exit()</li>
          </ul>
        </li>
        <li>
          <h3 class="sub-title">畫一個 Line Chart</h3>
          <ul class="sub-list">
            <li>d3.time.scale().range().domain()</li>
            <li>d3.scale.linear().range().domain()</li>
            <li>d3.svg.axis().scale(s)</li>
            <li>d3_selection.call(func)</li>
            <li><a ui-sref="ex_empty_wrap({name: 'd3-line-chart', ctlr: 1, singleWrap: 'svn-wrap'})">Line Chart example</a></li>
          </ul>
        </li>
        <li>
          <h3 class="sub-title">D3 Pie Chart</h3>
          <ul class="sub-list">
            <li><a ui-sref="ex_empty_wrap({name: 'd3-pie-chart', ctlr: 1, singleWrap: 'pie-chart-wrap'})">Pie Chart example</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
  <script src="js_lib/d3.v3.min.js"></script>
  <script src="js_lib/angular.min.js"></script>
  <script src="js_lib/angular-ui-router.min.js"></script>
  <script src="js_lib/angular-animate.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
